@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-size: 1rem;
  font-weight: 300;
  color: #8bacda;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: #0d192b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.card {
  width: 320px;
  height: 520px;
  background-color: #14253e;
  border-radius: 10px;
  -webkit-box-shadow: 0 30px 0 15px #0d1629, 0 30px 0 50px #0c182c;
          box-shadow: 0 30px 0 15px #0d1629, 0 30px 0 50px #0c182c;
  padding: 1.5rem;
  margin: 2rem;
}

.card .showcase {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .showcase .card-image {
  width: 100%;
  border-radius: 5px;
  z-index: 0;
}

.card .showcase span {
  border-radius: 5px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 255, 247, 0.5);
  display: none;
}

.card .showcase:hover span, .card .showcase:active span {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .title {
  font-weight: 600;
  margin: 1rem 0;
  font-size: 1.3rem;
}

.card .title:hover {
  color: #00fff7;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card .card-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: 2px solid #2f415b;
}

.card .card-items .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-items .price img {
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0.5rem;
}

.card .card-items .price h3 {
  color: #00fff7;
  font-weight: 400;
  font-size: 0.9rem;
}

.card .card-items .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-items .time img {
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-items .time p {
  margin-left: 0.5rem;
}

.card .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.75rem;
}

.card .footer img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  border-radius: 50%;
  border: 1px solid white;
}

.card .footer p {
  font-size: 0.9rem;
  margin-right: auto;
  margin-left: 0.75rem;
}

.card .footer p span {
  color: white;
  font-weight: 400;
}

.card .footer p span:hover {
  color: #00fff7;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/*# sourceMappingURL=style.css.map */